@using HodHod.Localization
@model HodHod.Web.Models.Account.PasswordlessLoginFormViewModel

@section Scripts
{
    <script abp-src="/view-resources/Views/Account/PasswordlessLogin.js" asp-append-version="true"></script>
}

<div class="login-form">
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="fw-bolder text-gray-900 fs-4 fs-1-lg">@L("PasswordlessLogin")</h3>
    </div>
    <form class="form passwordless-login-form" asp-action="PasswordlessLogin" method="post">

        @if (Model.IsSmsPasswordlessLoginEnabled && Model.IsEmailPasswordlessLoginEnabled)
        {
            <p>@L("SelectPasswordlessLogin_Information")</p>
            <div class="mb-5">
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6", size = 1, id = "providerDropdown" })
            </div>
        }
        else if (Model.IsEmailPasswordlessLoginEnabled || Model.IsSmsPasswordlessLoginEnabled)
        {
            @Html.HiddenFor(model => model.SelectedProvider)
        }

        @if (Model.IsEmailPasswordlessLoginEnabled)
        {
            <div id="emailPasswordlessLogin">
                <p>@L("PasswordlessLogin_EmailAddress_Information")</p>
                <div class="mb-5">
                    @Html.TextBoxFor(m => m.SelectedProviderValue, new { @class = "form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6", required = "required", placeholder = L("EmailAddress"), id = "emailPasswordlessLoginInput" })
                </div>
            </div>
        }

        @if (Model.IsSmsPasswordlessLoginEnabled)
        {
            <div id="smsPasswordlessLogin">
                <p>@L("PasswordlessLogin_PhoneNumber_Information")</p>
                <div class="mb-5">
                    @Html.TextBoxFor(m => m.SelectedProviderValue, new { @class = "form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6", required = "required", placeholder = L("PhoneNumber"), id = "smsPasswordlessLoginInput" })
                </div>
            </div>
        }

        <div class="pb-lg-0 pb-5">
            <span>&nbsp;</span>
            <input type="submit" class="btn btn-primary fw-bolder fs-6 px-8 py-4 my-3 me-3" value="@L("Submit")" />
            <span class="remaining-time-counter ml-5 text-danger"></span>
        </div>

    </form>
</div>
