@using HodHod.Authorization.PasswordlessLogin
@using HodHod.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HodHod.Web.Models.Account.VerifyPasswordlessCodeViewModel

@section Scripts
{
     <script>
        var remainingSeconds = @PasswordlessLoginCodeCacheItem.DefaultSlidingExpireTime.TotalSeconds;
    </script>
    <script abp-src="/view-resources/Views/Account/VerifyPasswordlessLoginCode.js" asp-append-version="true"></script>
}

<div class="login-form">
    <div class="pb-10 pt-lg-0 pt-5">
        <h3 class="fw-bolder text-gray-900 fs-4 fs-1-lg">@L("VerifyPasswordlessCode")</h3>
    </div>

    <p class="pb-5">@L("ConfirmationPasswordlessCodeSentTo", Model.ProviderValue)</p>
    

    <form class="form verify-passwordless-login-code-form" asp-action="VerifyPasswordlessCode" method="post">
        <p>@L("VerifyPasswordlessCode_Information")</p>

        @Html.Hidden("ProviderValue", Model.ProviderValue)
        @Html.Hidden("ProviderType", Model.ProviderType)

        <div class="mb-5">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6", required = "required", placeholder = L("PasswordlessCode") })
        </div>


        <div class="pb-lg-0 pb-5">
            <span>&nbsp;</span>
            <input type="submit" class="btn btn-primary fw-bolder fs-6 px-8 py-4 my-3 me-3" value="@L("Submit")" />
            <span class="remaining-time-counter ml-5 text-danger"></span>
        </div>

    </form>
</div>
